
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f5fa;
    font-family: Arial, sans-serif;
}

.box{
    width: 25%;
    background-color: #ffffff;
    padding: 80px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}


h2 {
    margin-top: -15px;
    font-size: 40px;
    font-weight: bolder;
    line-height: 2;
}

form {
    display: flex;
    flex-direction: column;
    /* gap: 1px; */
}

label {
    text-align: left;
    font-size: 20px;
    font-weight: 200;
}

input{
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input:focus{
    color: #1469c5;
}

input:active{
    color: red;
}

textarea {
    height: 300px;
    resize: none;
    font-size: 25px;
}


.btn {
    background-color: #07376a;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 300;
}

button:hover{
    background-color: #1469c5;
    transform: scale(1.1);
}
